/* Styles for the highlighted text */
.highlight {
  color: #317bd6; /* Blue color */
  font-weight: 900;
  font-size: 1em;
  display: inline-block;
  font-style:italic;
}

/* Styles for animated text */
.animate-text {
  font-weight: 800;
  font-size: 1em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Navbar styles */
.navbar {
  font-size: 1.5em;
  font-weight: 900;
}

.navbar-toggler {
  border: 0;
  outline: none !important;
  background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  transform: rotate(90deg);
}

/* 3D */