body {
  background-color:rgb(255, 255, 255);
}

main {
  margin:0;
}

/* General body and text styling */
.jumbotron-container {
  background-color: black;
  height:100vh;
  padding-top:7rem;
}

/* Center content vertically and horizontally using flexbox */
.content-container {
  display: flex;
  flex-direction: column; /* Stack text and image vertically */
  justify-content: center;
  align-items: center;
}

/* Floating iPhone styling */
.floating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5rem; /* Space between text and image */
}

.iphone-image {
  width: 50px; /* Default size for larger screens */
  max-width: 100%; /* Ensure image doesn't overflow */
  height: auto;
  fill:white;
}

/* Floating animation */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive sizing for the iPhone image */
@media (max-width: 768px) {
  .iphone-image {
    width: 70%; /* Smaller size for medium screens */
  }
}

@media (max-width: 576px) {
  .iphone-image {
    display: none; /* Hides the iPhone image on mobile screens */
  }
}

/* Navbar styles */
.navbar {
  font-size: 1.2em;
  font-weight: 500;
  background-color: white;
  font-family:'Helvetica';
  position:absolute;
  width:100%;
  z-index:100;
}

.navbar-toggler {
  border: 0;
  outline: none !important;
  background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  transform: rotate(90deg);
}

nav a {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Lägger en underline under hovring på meny items. */

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.2s;
}

/* Sätter en bredd på 100% på underline. */

nav a:hover::after {
  width: 100%;
}

#current-page::after {
  width: 100%;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.letters {
  color:#FBFBF9;
}

.ux-quote {
  font-family:'Georgia', Georgia, serif;
  font-style:italic;
  font-size:1.8rem;
  color: #FBFBF9;
  margin-top:-0.6rem;
}