body {
  background-color: rgb(255, 255, 255);
}

main {
  margin: 0;
}

/* General body and text styling */
.jumbotron-container {
  background-color: black;
  height: 100vh;
  padding-top: 25rem;
}

/* Center content vertically and horizontally using flexbox */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Floating arrow styling */
.floating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5rem;
}

.arrow-image {
  width: 2rem;
  max-width: 100%;
  height: auto;
  fill: white;
}

/* Floating animation */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Hide arrow on mobile */
@media (max-width: 576px) {
  .arrow-image {
    display: none;
  }
}

/* Navbar styles */
.navbar {
  font-size: 1.2em;
  font-weight: 500;
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.3s ease;  /* Apply transition to the top property */
}

/* CSS class to hide the navbar */
.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-toggler {
  border: 0;
  outline: none !important;
  background: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  transform: rotate(90deg);
}

nav a {
  text-decoration: none;
  color: black;
  position: relative;
}

/* Underline for hovering */
nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.2s;
}

/* Width of 100% on underline */
nav a:hover::after,
#current-page::after {
  width: 100%;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml6 i.fa-lightbulb {
  font-size: 3rem;
  color: #f1c40f;
  margin-left: 1rem;
}

.letters {
  color: #FBFBF9;
}

.ux-quote {
  font-family: 'Georgia', Georgia, serif;
  font-style: italic;
  font-size: 1.8rem;
  color: #FBFBF9;
  margin-top: -0.6rem;
}

/* Featured examples */
.examples h1 {
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}

/* Responsive adjustments for jumbotron text */
@media (max-width: 768px) {
  .jumbotron-container {
    padding-top: 15rem;
  }

  .ml6 {
    font-size: 2em;
  }

  .ux-quote {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .jumbotron-container {
    padding-top: 10rem;
  }

  .ml6 {
    font-size: 1.5em;
  }

  .ux-quote {
    font-size: 0.8rem;
  }
}
